.header{
    height: 95vh;
    background-image: linear-gradient(to right , rgba(50, 119, 247, 0.445),rgba(247, 50, 165, 0.247)), url('../img/header-7.jpg');
    background-size:cover;
    background-position: top; 
}

