.card {
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  max-width: 200pt;
  max-height: 370pt;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.truncate {
  width: 190pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
