.main{
    display: flex;
    justify-content: center;
    margin: 20px !important;
}

.container{
display: flex;
justify-content: center;
flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;
    
}

th,
td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #555;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


