.main {
  display: flex;
  justify-content: center;
  background-color: inherit;
}

.courses {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px !important;
  max-width: 100vw !important;
  flex-wrap: wrap;
}
