@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

*{
  margin:0px;
  padding: 0px;
}


/*
PRIMARY COLOR: #A92AED
secondary color: #BA98C9
background color: #FFE8FF
highlight color: #5FBAAF

*/

body {
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
  }

